@import 'tailwindcss';

@theme {
    --color-hit: #FF790F
}
@theme {
    --color-adminbg: #101622
}   
@theme {
    --color-adminbg-2: #19212E
}
@theme {
    --color-adminbg-3: #2C3E50
}
body {
    scroll-behavior: smooth;
}

* {
    outline: none;
}
input {
    padding-left: 4px;
}

@layer components {
  /* Chrome, Edge (Chromium), Safari, Opera */
  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spin {
    -moz-appearance: textfield;
  }
}